body {
    background-color: lightgray;
}

.page {
    width: 850px;    
    background-color: white;   
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 60px;
    font-weight: 100;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.pure-g {
    padding: 20px;
}

.pure-u-1-1 {
    text-align: center;
}

.description-left {
    padding-right: 35px;
}

.description-right {
    padding-left: 35px;
}

.vis-container {
    width: 100%;
}

#authority {
    font-size: 10px;
}