body {
    background-color: snow;
}

.page {
    width: 1000px; 
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#page-header {
    border-bottom: thick double lightgrey;
}

#title {
    font-family: 'Calistoga', cursive;
    font-size: 90px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

#subtitle {
    font-family: 'Voces', cursive;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.heading {
    font-family: 'Calistoga', cursive;
    padding-top: 20px;
    text-align: center;
}

.vis-container {
    padding-top: 10px;
    padding-left: 20px;
    text-align: right;
    width: 100%;
}

.description {
    font-family: 'Voces', cursive;
    padding-left: 40px;
    padding-right: 40px;
}

.tips {
    color: grey;
    font-family: 'Voces', cursive;
    font-size: 12px;
    padding-top: 5px;
    padding-right: 40px;
    text-align: right;
}

#authority {
    border-top: thick double lightgrey;
    color: grey;
    font-family: 'Voces', cursive;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

b {
    font-size: 20px;
}